<root>
	<!-- the protocol files be stored folder, file path or folder path-->
	<protocol>
		<folder>./message</folder>
	</protocol>
	
	<!-- for output as3 code -->
	<output name="flash-as3" program-language="ActionScript3">
		<!-- GearProtocal datatype convert to programlanguange datatype -->
		<convert-datatype gptype="int8" to="byte"/>
		<convert-datatype gptype="int16" to="short"/>
		<convert-datatype gptype="int32" to="int"/>
		<convert-datatype gptype="int64" to="String"/>
		<convert-datatype gptype="float" to="Number"/>
		<convert-datatype gptype="double" to="Number"/>
		<convert-datatype gptype="string" to="String"/>
		
		<!-- origin{single, each-message, each-object} -->
		<output-item template-folder="./template" template-file="ClientMessage.ftl" origin="each-message" to="./output/as3/protocol/custom/${name}.as" charset="UTF-8">
			<injection>messageVO</injection>
			<injection>typeDef</injection>
		</output-item>
		
		<output-item template-folder="./template" template-file="ClientClass.ftl" origin="each-object" to="./output/as3/protocol/vo/${type}.as" charset="UTF-8">
			<injection>messageContentVO</injection>
			<injection>typeDef</injection>
		</output-item>
		
		<output-item template-folder="./template" template-file="ClientMessageType.ftl" origin="single" to="./output/as3/protocol/RemoteMessageType.as" charset="UTF-8">
			<injection>messages</injection>
		</output-item>
		
		<output-item template-folder="./template" template-file="ClientMessageRegister.ftl" origin="single" to="./output/as3/protocol/RemoteMessageRegister.as" charset="UTF-8">
			<injection>messages</injection>
		</output-item>
	</output>
</root>